

@mixin robR {
    font-family: 'Roboto Regular', sans-serif;
}
@mixin robT {
    font-family: 'Roboto Thin', sans-serif;
}
@mixin robB {
    font-family: 'Roboto Bold', sans-serif;
}
@mixin robL {
    font-family: 'Roboto Light', sans-serif;
}
