*
  box-sizing: border-box

@media (min-width: 1440px)
  .container
    max-width: 1200px
    margin: auto
      

@media (max-width: 1440px)
  .container
    max-width: 1200px
    width: 100%
    margin: auto
    padding-left: 15px
    padding-right: 15px


@media (max-width: 992px)
  .container
    max-width: 851px
    padding-left: 15px
    padding-right: 15px
    &-fluid
      max-width: 100%
      padding: 0

@media (max-width: 768px)
  .container
    max-width: 670px
    &-fluid
      max-width: 100%
      padding: 0

@media (max-width: 600px)
  .container
    max-width: 100%
    padding: 0 20px
    &-fluid
      max-width: 100%
      padding: 0
