html
	font-size: 10px

body
	font-size: 1.6rem
	+jr
	overflow-x: hidden

a
	text-decoration: none

.section
	margin-bottom: 11rem
	&__title
		+jr
		font-size: 3rem
		color: $second
	&__arrow
		border: none
		background: transparent
		&-box
			text-align: right
		&_prev
			margin-bottom: -1.5rem
			margin-right: 2rem
			transform: rotateY(180deg) 
	.section__arrow
        svg path
            transition: 0.9s
        &:hover svg path
            fill: $primary

.tops__wrap .owl-carousel .owl-stage-outer,
.stock__wrap .owl-carousel .owl-stage-outer,
.order__wrap .owl-carousel .owl-stage-outer
	overflow: inherit

	// owl slider
.owl-theme .owl-nav.disabled+.owl-dots
	margin-top: 6rem
.owl-theme .owl-dots .owl-dot span
	width: 10px
	height: 10px
	border-radius: 0
	background: #E0E0E0
.owl-theme .owl-dots .owl-dot.active span
	background: $primary
	border: 2px solid #fff
	outline: 1px solid rgba(240, 41, 41, 0.17)
	transform: scale(2.2)
	transition: 0.3s
.owl-dots
	display: flex
	align-items: center
	justify-content: center

.mr-0
	margin-right: 0 !important
		

@media (max-width: 1440px)
	.tops__wrap .owl-carousel .owl-stage-outer,
	.stock__wrap .owl-carousel .owl-stage-outer,
	.order__wrap .owl-carousel .owl-stage-outer
		overflow: hidden



@media (max-width: 970px)
	html
		font-size: 9px
	
    
@media (max-width: 768px)
	html
		font-size: 8px

@media (max-width: 700px)
	.btn


@media (max-width: 600px)
	html
