.about
    &__desc
        max-width: 797px
        margin: auto
        text-align: center
    &__name
        margin-bottom: 2rem
        +al
        font-size: 3rem
        color: $second
    &__title
        margin-bottom: 2rem
        +jr
        font-size: 4.8rem
        color: $second
    &__text
        +jl
        font-size: 2rem
        line-height: 3.1rem
        color: #4F4F4F
    &__galery
        padding: 2.6rem 0
        margin-top: 8.5rem
        +jl
        font-size: 280px
        line-height: 160%
        text-align: center
        background: url('../img/about-bg.jpg') no-repeat
        background-position-x: center
        color: #ffffff