.header-top
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    height: 100px

.header
    &__block
        display: flex
        width: 33.3333%
        align-items: center
        &_1
            min-width: 435px
        &_2
            width: 210px
            align-items: center
            justify-content: center
        &_3
            justify-content: flex-end
    &__phone
        margin-right: 45px
        +jm
        color: #2c2c2c
.btn__search
    display: flex
    align-items: center
    justify-content: center
    min-height: 34px
    min-width: 34px
    margin-right: 13px
    border: none
    border-radius: 50%
    background: $primary
.form__search-input
    +jr
    padding-bottom: 5px
    font-size: 1.4rem
    border: none
    border-bottom: 1px solid #E1E1E1
    &:placeholder
        color: #9e9e9e
.header__btn-link
    position: relative
    display: block
    height: 22px
    margin-right: 37px
    img
        width: 100%
    span
        display: block
        position: absolute
        top: -100%
        right: -10px
        width: 17px
        height: 17px
        text-align: center
        background: $primary
        border-radius: 50%
        color: #ffffff
        font-size: 1.1rem
        +jm
        line-height: 1.6rem
.header__login
    color: #000000
    +jr 
    border-bottom: 1px solid #000000
.search-box
    position: relative
    display: flex
    align-items: center
.btn__search_m
    display: none
    


@media ( max-width: 1000px)
    .form__search
        position: absolute
        top: 50%
        left: 45px
        opacity: 0
        visibility: hidden
        transition: 0.2s
        transform: translateY(-50%)
    .search-box:hover .form__search
        opacity: 1
        visibility: visible
    .header__block_1
        min-width: auto
    .header__phone
        font-size: 16px
    .header__login 
        font-size: 14px
    .header__btn-link span 
        font-size: 11px
        line-height: 16px   
    .header-top
        padding: 0 25px

@media (max-width: 768px)
    .header-top
        height: 80px
    .header__phone
        font-size: 14px
        margin-right: 0
    .search-box
        display: none
    .header__block_2
        width: 160px
        .logo__box
            width: 100%
            a
                display: block
                width: 100%
                img
                    width: 100%
    .header__btn-link
        height: 18px
        margin-right: 24px

@media (max-width: 600px)
    .header
        &-top
            flex-wrap: nowrap
            padding: 0 20px
        &__phone
            display: none
        &__block_2
            width: 115px
    .search-box
        display: flex
    .header__btn-link:first-child, .header__login
        display: none
    .header__block_1, .header__block_3
        width: auto
    .header__btn-link:nth-child(2)
        margin-right: 10px
    .btn__search
        display: none
    .btn__search_m
        display: flex
    