.info
    position: relative
    overflow: hidden
    &__wrap
        padding: 12rem 0
    &__text-box
        max-width: 598px
    &__subtitle
        margin-bottom: 2rem
        +al
        font-size: 30px
        color: $second
    &__title
        margin-bottom: 2.2rem
        +jr
        font-size: 4.8rem
        line-height: 6rem
        color: $second
    &__text
        +jl
        font-size: 2rem
        color: #4F4F4F
        line-height: 3rem
    &__cit
        margin-top: 10rem
        margin-bottom: 1.5rem
        +al
        font-size: 2rem
        color: $second
    &__link
        color: $primary
        font-size: 1.4rem
        text-decoration: underline
        &:hover
            text-decoration: none

.summer, .sapphire
    position: relative
    .info__banner
        position: absolute
        top: 0
        p
            position: absolute
            display: block
            top: 38%
            +jt
            font-size: 19rem
            transform: rotate(-90deg)
            text-transform: uppercase
            color: #C4C4C4

.summer
    background: url('../img/bg-1.png') right center no-repeat
    .info__banner
        p
            display: none

.sapphire
    background: url('../img/bg-2.png') left center no-repeat
    .info__banner
        p
            right: -60%
    .info__wrap
        max-width: auto
        margin-left: 60%
.info__bg_m
    display: none
    width: 100%


@media ( max-width: 1300px )
    .sapphire .info__wrap
        margin-left: 50%


@media ( max-width: 1200px )
    .summer
        background: url('../img/bg-1.png') right -150px center no-repeat
    .sapphire
        background: url('../img/bg-2.png') left -150px center no-repeat
    .info__wrap
        padding: 10rem 0

@media ( max-width: 1080px )
    .sapphire
        background: url('../img/bg-2.png') left -50px center no-repeat
    .sapphire .info__text-box
        max-width: 100%

@media ( max-width: 992px )
    .summer
        background: url('../img/bg-1.png') right -200px center no-repeat
    .sapphire
        background: url('../img/bg-2.png') left -200px center no-repeat
    .summer, .sapphire
        background-size: contain
    .info__wrap
        padding: 80px 0 50px
    .info__title
        font-size: 35px
        line-height: 5rem
    .info__text-box
        max-width: 390px
    .summer .info__banner p, .sapphire .info__banner p
        text-align: center
        font-size: 166px
    .info__cit
        font-size: 20px
    .info__link
        font-size: 14px
    .summer .info__banner p
        left: -290px

@media (max-width: 768px)
    .sapphire .info__wrap
        margin-left: 0
        max-width: 670px
        padding-left: 15px
        padding-right: 15px
        margin: auto
    .info__wrap 
        padding-top: 0
    .summer, .sapphire
        background: none
    .info__bg
        display: none
        &_m
            display: block
    .info__text-box
        max-width: 544px
    .summer .info__banner, .sapphire .info__banner
        position: relative
    .summer .info__banner
        max-width: 100%
        left: 0
    .summer .info__banner p, .sapphire .info__banner p
        display: block
        top: -70px  
        left: 50%
        transform: rotate(0) translateX(-50%)
    .info__cit
        margin: 0
        margin-bottom: 10px
        &-box
            display: flex
            margin: 40px 0
            align-items: center
            justify-content: space-between
    .info__btn
        margin-top: 0

@media (max-width: 600px)
    .summer .info__banner p, .sapphire .info__banner p
        font-size: 70px
        top: -37px
    .summer .info__banner
        height: 300px;
        object-fit: cover
    .info__cit
        margin: 0
        margin-bottom: 10px
        &-box
            flex-direction: column
    .info__btn
        margin-top: 0
    .info__subtitle
        font-size: 21px
        margin-bottom: 1rem 
    .info__title
        font-size: 25px
        line-height: 4rem
    .info__btn
        width: 100%
        margin-bottom: 30px
        text-align: center
    .info__cit-box
        align-items: flex-start

    @media (max-width: 380px)
        .summer .info__banner
            height: auto