.nav
    background: $second
    &__list
        display: flex
        padding: 22px 0
        justify-content: space-between
        align-items: center
        +jr
    &__link
        position: relative
        color: #ffffff
        img
            margin-left: 10px
            transition: 0.3s
        &_active::after
            content: ''
            position: absolute
            bottom: -19px
            left: 0
            height: 2px
            width: 100%
            background: $primary
    &__wrap
        position: relative

.dropdown:hover img
    transform: rotate(180deg)
    
.nav__list .dropdown:hover .catalog
    opacity: 1
    visibility: visible

    